<?xml version="1.0"?>
<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>
  <arg name="trajopt_description" default="trajopt_description"/>
  <arg name="plotting" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="ifopt" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="testing" default="false"/>

  <!-- Load universal robot description format (URDF) -->
  <param name="$(arg robot_description)" textfile="/home/febert/tesseract_ws2/src/tesseract/tesseract_support/urdf/easo1.0_whole.urdf"/>
  

  <param name="$(arg robot_description)_semantic" textfile="/home/febert/tesseract_ws2/src/tesseract/tesseract_support/urdf/easo1.0.srdf" />

  <group unless="$(arg testing)">
    <!-- If needed, broadcast static tf for robot root -->
    <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world base_link 100" />

    <node pkg="tesseract_ros_examples" type="tesseract_ros_examples_xarm7_trajopt_node" name="tesseract_ros_examples_xarm7_trajopt_node" output="screen" >
      <param name="plotting" type="bool" value="$(arg plotting)"/>
      <param name="rviz" type="bool" value="$(arg rviz)"/>
      <param name="ifopt" type="bool" value="$(arg ifopt)"/>
      <param name="debug" type="bool" value="$(arg debug)"/>
      <rosparam param="sphere1">[0.55, 0.0, 0.93]</rosparam>
      <rosparam param="arm_start">[-6.743198, 19.705852, -64.548508, 69.072812, 21.487693, 60.97795, -76.365075]</rosparam>
      <rosparam param="arm_end">[62.326406, -27.328139, -22.639854, 43.441603, -2.873383, 67.85224, 45.414411]</rosparam>
    </node>

    <!-- Launch visualization -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="tesseract_ros_examples_xarm7_trajopt_rviz"
        args="-d $(find tesseract_ros_examples)/config/examples.rviz" />
  </group>

</launch>
